@charset "ISO-8859-1";
body, html{
	background-image: url("../img/sfondoregister.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100% !important;
	height: 100% !important;
	overflow: auto;
	min-height : 600px;
}

.container {
	background-image: url("../img/sfondo_nero_register.jpg");
	margin: 0 auto;
	text-align: center;
	opacity: 0.8;
	max-width: 535px;
	padding-top: 10px;
	height: auto;
	margin-top: 100px;
}


.heading {
	font-family: 'Raleway', sans-serif !important;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	text-align: center;
	font-size: 30px;
	color: white;
	padding-top: 10px;
}
.firstname {
	
	float : right;
	font-family: sans-serif;
	font-size: 14px;
	color: white;
	margin-top: 15px;
}
.lastname {
	float : right;
	font-family: sans-serif;
	font-size: 14px;
	color: white;
	margin-top: 15px;
}
.mail {
	float : right;
	font-family: sans-serif;
	font-size: 14px;
	color: white;
	margin-top: 15px;
}
.pass {
	float : right;
	font-family: sans-serif;
	font-size: 14px;
	color: white;
	margin-top: 15px;
}
.username {
	float : right;
	font-family: sans-serif;
	font-size: 14px;
	color: white;
	margin-top: 15px;
}
.phone {
	float : right;
	font-family: sans-serif;
	font-size: 14px;
	color: white;
	margin-top: 15px;
}
#submit{
	float:right;
	width:100%;
	margin-top : 10px;
	margin-bottom : 10px;
	background-color : transparent;
	border:2px solid rgb(46,96,138);
	color : white;
	transition:600ms;
}
#submit:hover {
	background: rgb(46,96,138);
	color : white;
	
}

.col-xs-6 {
	margin-top : 10px;
}
.col-xs-2 {
	float : left;
	margin-top : 15px;
}
#show_hide {
	width : 50px;
	height : 30px;
	color : black;
	border: 2px solid black; 
}
#link_login{
	margin-top : 10px;
}
#conferma_after_registrazione{
	
	text-decoration: underline;
	font-size : 20px;
	margin-top : 10px;
	margin-bottom : 25px;
}
.da_alzare{
	margin-top:0;
}